/* ナビゲーションのためのCSS */

/* アクティブになったエリア */
#g-nav.panelactive {
  /* position:fixed;にし、z-indexの数値を大きくして前面へ */
  position:fixed;
  z-index: 999;
  top: 0;
  width:100%;
  height: 100vh;
}

/* 丸の拡大 */
.circle-bg {
  position: fixed;
  z-index:3;
  /* 丸の形 */
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #999;
  /* 丸のスタート位置と形状 */
  transform: scale(0); /* scaleをはじめは0に */
  top:-50px;
  left:calc(50% - 50px); /* 50%から円の半径を引いた値 */
  transition: all .6s; /* 0.6秒かけてアニメーション */
}
.circle-bg.circleactive {
	transform: scale(50); /* クラスが付与されたらscaleを拡大 */
}

/* ナビゲーションの縦スクロール */
#g-nav-list {
  display: none; /* はじめは表示なし */
  /* ナビの数が増えた場合縦スクロール */
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100vh;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
#g-nav.panelactive #g-nav-list {
  display: block; /* クラスが付与されたら出現 */
}

/* ナビゲーション */
#g-nav ul {
	opacity: 0;/*はじめは透過0*/
  /* ナビゲーション天地中央揃え */
  position: absolute;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

/* 背景が出現後,ナビゲーション表示 */
#g-nav.panelactive ul {
  opacity:1;
}
/* 背景が出現後,ナビゲーションli表示 */
#g-nav.panelactive ul li {
  animation-name: gnaviAnime;
  animation-duration: 1s;
  animation-delay: .2s; /* 0.2 秒遅らせて出現 */
  animation-fill-mode: forwards;
  opacity: 0;
}

@keyframes gnaviAnime {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


/* リストのレイアウト */
#g-nav li {
	text-align: center;
	list-style: none;
}
#g-nav li a {
	color: #333;
	text-decoration: none;
	padding: 10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
}

/* ボタンのためのCSS */
.openbtn {
	position: fixed;
  z-index: 9999; /* ボタンを最前面に */
	top: 10px;
	right: 10px;
	cursor: pointer;
  width: 50px;
  height: 50px;
}

/* ×に変化 */
.openbtn span {
  display: inline-block;
  transition: all .4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: #666;
  width: 45%;
}

.openbtn span:nth-of-type(1) {
	top: 15px;
}

.openbtn span:nth-of-type(2) {
	top: 23px;
}

.openbtn span:nth-of-type(3) {
	top: 31px;
}

.openbtn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 30%;
}


/* スタート時は要素自体を透過0にするため */
.box　{
	opacity: 0;
}



/* Loading背景画面設定 */
/*
#splash {
  position: fixed; fixedで全面に固定
  width: 100%;
  height: 100%;
  z-index: 999;
  background:#333;
  text-align:center;
  color:#fff;
} */

/* Loading画像中央配置　*/

/* #splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */

/* Loading アイコンの大きさ設定　*/

/* #splash_logo img {
  width:260px;
} */

/* fadeUpをするアイコンの動き */
/* .fadeUp {
  animation-name: fadeUpAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
  opacity: 0;
} */

/* @keyframes fadeUpAnime {
  from {
    opacity: 0;
  transform: translateY(100px);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
} */


/* その場で */
/* .fadeIn {
  animation-name:fadeInAnime;
  animation-duration:1s;
  animation-fill-mode:forwards;
  opacity:0;
} */

/* @keyframes fadeInAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  } */
}

/* 下から */

/* .fadeUp {
  animation-name:fadeUpAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
  opacity:0;
} */

/* @keyframes fadeUpAnime {
  from {
    opacity: 0;
  transform: translateY(100px);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
} */

/* 上から */

/* .fadeDown {
  animation-name:fadeDownAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
  opacity:0;
} */

/* @keyframes fadeDownAnime {
  from {
    opacity: 0;
  transform: translateY(-100px);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
} */

/* 左から */

/* .fadeLeft {
  animation-name:fadeLeftAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
  opacity:0;
} */

/* @keyframes fadeLeftAnime {
  from {
    opacity: 0;
  transform: translateX(-100px);
  }

  to {
    opacity: 1;
  transform: translateX(0);
  }
} */

/* 右から */

/* .fadeRight {
  animation-name:fadeRightAnime;
  animation-duration:0.5s;
  animation-fill-mode:forwards;
  opacity:0;
} */

/* @keyframes fadeRightAnime {
  from {
    opacity: 0;
  transform: translateX(100px);
  }

  to {
    opacity: 1;
  transform: translateX(0);
  }
} */


/*===== ローディング画面のためのCSS ======*/

/* #splash2 {
	position: fixed;
	width: 100%;
	height: 100%;
	background: #333;
	z-index: 9999999;
	text-align:center;
	color:#fff;
}

#splash2-logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
} */

/*===== 画面遷移のためのCSS ======*/

/* 画面遷移アニメーション */

/* .splash2bg {
  display: none;
} */

/* bodyにappearクラスがついたら出現 */
/* body.appear .splash2bg{
	display:block;
	animation-name:PageAnime;
	animation-duration:1.2s;
	animation-timing-function:ease-in-out;
	animation-fill-mode:forwards;
  content: "";
  position:fixed;
	z-index: 999;
  width: 50%;
  height: 100vh;
  top: 0;
	left: 0;
  transform: translateX(-300%) skewX(-45deg);
  background-color: #333; 伸びる背景色
}

@keyframes PageAnime {
	0% {
		transform-origin:left;
		transform:translateX(-300%) skewX(-45deg);
	}
	100% {
		transform-origin:left;
		transform:translateX(500%) skewX(-45deg);
	}
} */

/* 画面遷移の後現れるコンテンツ設定 */

/* #container {
	opacity: 0; はじめは透過0
} */

/* bodyにappearクラスがついたら出現 */

/* body.appear #container {
	animation-name:PageAnimeAppear;
	animation-duration:1s;
	animation-delay: 0.6s;
	animation-fill-mode:forwards;
	opacity: 0;
}
@keyframes PageAnimeAppear {
	0% {
	opacity: 0;
	}
	100% {
	opacity: 1;
  }
}

.TextTyping span {
	display: none;
} */

/* 文字列後ろの線の設定 */
/* .TextTyping::after {
  content: "|";
 animation: typinganime .8s ease infinite;
}

@keyframes typinganime{
	from{opacity:0}
	to{opacity:1}
} */

/* エリア動き */
#header {
	position: fixed; /* Header固定 */
	top:0;
	height: 70px; /* 高さ指定 */
	z-index: 2;
	width:100%;
	background:#fff; /* 背景色 */
}
#container {
	position: relative;
	z-index: 1; /* headerとfooterを手前にするため */
}
section.fixed {
	position: -webkit-sticky;
	position: sticky;
	top:70px; /* Header高さ分で止まるように */
	padding: 600px 0; /* 上下余白 */
}
section.fixed:nth-child(odd) {
  background:#666; /* 奇数背景色 */
}
section.fixed:nth-child(even) {
  background:#333; /* 偶数背景色 */
}
section.fixed:last-of-type {
	padding-top:70px;
}

#footer {
	position: relative;
	z-index: 2;
}

/* ＝＝＝＝＝タブレット以下の見え方 ＝＝＝＝＝ */

/* @media screen and (max-width:768px) {
	section.fixed {
	position:relative!important; sticky解除
	top:0;
}
	section.fixed:first-of-type {
	padding-top:100px;
	}
} */



/* 検索窓を開くための虫眼鏡ボタン */

/* .open-btn {
	position: absolute;
	top:10px;
	right:10px;
	background:#fff url("../img/icon_search.svg") no-repeat 15px center;　虫眼鏡アイコンを背景に表示
	background-size: 20px 20px;
	width:50px;
	height:50px;
	border-radius: 50%;
	cursor: pointer;
} */

/* 検索窓の設定 */

/* 検索窓背景のエリア */
/* #search-wrap {
  position:fixed; 固定配置
  top: 0;
  left: 0;
  z-index: -1; 最背面
  opacity: 0;
  transition: all 0.4s;
  width:100%;
  height: 100vh;
} */
/* ボタンクリック後、JSで#search-wrapに panelactive クラスが付与された後の見た目 */
/* #search-wrap.panelactive {
	opacity: 1;
  z-index: 3; 全面に出現
  background:#333; */
  /* 中の要素を天地中央揃えにする */
  /* display: flex;
  justify-content: center;
  align-items: center;
} */
/* 検索窓のエリア */
/* #search-wrap .search-area {
	display: none; 検索窓, はじめは非表示
} */

/* ボタンクリック後、JSで#search-wrapに panelactive クラスが付与された後 */
/* #search-wrap.panelactive .search-area {
	display: block; 検索窓エリアを表示
	width:80%;
	position: relative;
} */
/* 検索フォーム */
/* #search-wrap form {
	position: relative;
	height: 66px;
} */
/* テキスト入力とボタンinput */
/* #search-wrap input {
	-webkit-appearance:none;
	outline: none;
	cursor: pointer;
	color: #fff;
} */

/* テキスト入力input設定 */
/* #search-wrap input[type="text"] {
	width: 100%;
	padding: 20px;
	border: none;
	border-bottom:2px solid #666;
	transition: all 0.5s;
	letter-spacing: 0.05em;
}
 #search-wrap input[type="text"]:focus {
	background:#444;
} */

/* ボタンinput設定 */
/* #search-wrap input[type="submit"] {
	position: absolute;
	top:0;
	right:10px;
	background:url("../img/icon_search.svg") no-repeat 15px center;
	background-size: 25px 25px;
	width:60px;
	height: 60px;
} */

/*=======　閉じるための×ボタン　========*/
/* .close-btn {
	position: absolute;
	top:10px;
	right:10px;
	z-index: 2;
	cursor: pointer;
  width: 60px;
  height:60px;
}
.close-btn span {
  display: inline-block;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
	background-color: #fff;
 } */

/* ×マーク */
/* .close-btn span:nth-of-type(1) {
  top: 21px;
  left: 16px;
  transform: translateY(6px) rotate(-135deg);
  width: 50%;
}
.close-btn span:nth-of-type(2){
  top: 32px;
  left: 16px;
  transform: translateY(-6px) rotate(135deg);
  width: 50%;
} */


/* ギャラリーのためのcss */
/* .gallery {
  columns: 4; 段組みの数
  padding:0 15px;
  margin:0;
}
.gallery li {
  margin-bottom: 20px;
  list-style:none;
}
.gallery img {
	width:100%;
	height:auto;
	vertical-align: bottom;
} */

/*　横幅900px以下の段組み　*/
/* @media only screen and (max-width: 900px) {
	.gallery{
	  columns:3;
	}
}
@media only screen and (max-width: 768px) {
	.gallery{
	  columns: 2;
	}
} */
