
/* ナビゲーション全体 */
nav {
  background-color: #333;
  color: #fff;
  text-align: center;
}

/* ナビゲーション横並びに */
nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

/* 二階層目以降は横並びにしない */
nav ul ul {
  display: block;
}

/* ナビゲーションのリンク設定 */
nav ul li a {
  display: block;
  text-decoration: none;
  color: #999;
  padding: 20px 35px;
  transition: all .3s;
}

nav ul li li a {
  padding: 10px 35px;
}

nav ul li a:hover {
  color: #fff;
}


/*矢印の設定*/

/*2階層目を持つliの矢印の設定*/
nav ul li.has-child::before{
	content:'';
	position: absolute;
	left:15px;
	top:25px;
	width:6px;
	height:6px;
	border-top: 2px solid #999;
    border-right:2px solid #999;
    transform: rotate(135deg);
}
